main .product-container .product-categories {
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
}

main .product-container .product-categories a{
    font-size: 18px;
    text-decoration: none;
    color: #555; 
    padding: 15px 35px;
    transition: background-color 0.3s ,color 0.3s;
}

main .product-container .product-categories a:hover{
    background-color: #3f77b7;
    color: white;
    border-radius: 3px;
}

main hr{
    margin: 0;
    background-color: #555;
    height: 8px;
}

