.navbar{
    background-image: url(../Assets/add_on_images/Adobe_Express_file2.jpg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 5px rgba(0,0,0, 0.15);
    background-color: var(--bg-color);
    transition: 0.3s;
    padding: 15px 30px;
    border-top: none;
    border-bottom: 3px solid #3f77b7;
}

nav .brand{
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 6px #ffffff, 0 0 15px rgba(253, 255, 255, 0.7);
}

nav .green-text{
    animation: shift 4s ease-in-out infinite;
}

@keyframes shift {
  0%,100% { color: #00c8ff; text-shadow: 0 0 15px rgba(0,200,255,0.9); }
  33%      { color: #b048ff; text-shadow: 0 0 15px rgba(176,72,255,0.9); }
  66%      { color: #3dffb0; text-shadow: 0 0 15px rgba(61,255,176,0.9); }
}

nav a{
    text-decoration: none;
    margin: 0px 10px;
    display: inline-block;
    padding: 10px 35px;
    transition: background-color 0.3s ,color 0.3s;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 6px #ffffff, 0 0 18px rgba(253, 255, 255, 0.7);
}

nav a:hover, nav a.active{
    background: #3f77b7;
    color: white;
    border-radius: 3px;
}

.registerlogin a {
    margin-left: auto;
    color: white;
}