.nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    margin-top: 20px;
}

/* cart design */
.nav2 .cart{
    font-size: 1.2rem;
    border-radius: 15px;
    text-decoration: none;
    color: black; 
    text-shadow: 0 0 0px , 0 0 0px;
}

.nav2 .cart:hover{
    background-color: #3f77b7;
    color: white;
    text-shadow: 0 0 0px , 0 0 0px;
}

/* search bar design*/
.search-bar {
  position: relative;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px 35px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.search-bar span {
  position: absolute;
  right: 10px;
  top: 8px;
}