/* general rules for the whole page, especially for the footer to stay at the bottom without following anywhere */
html, body {
    height: 100%;           /* make page take full height */
    margin: 0;              /* remove default margin */
    display: flex;
    flex-direction: column; /* stack header, main, footer vertically */
}

main {
    flex: 1;   /* take all available space */
}
/* main body html rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.3s;
}



