body {
    margin: 0;
}

body main section div {
    text-align: center;
}

body header {
    background-color: rgb(9, 132, 217) ;
    padding-bottom: 30px;
    padding-top: 30px;
}
body header section h1 {
    text-align: left;
    margin-left: 20px;

}